form {
  label {
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
  }
  #avatar {
    display: none;
  }
  .profile__avatar {
    width: 65px;
    height: 65px;
  }
}

.edit-profile__password {
  margin-top: 50px;
  text-align: center;
  a {
    text-decoration: underline;
  }
}
