.video__data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .video__title {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .video__owner {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 14px;
    .video__owner-avatar {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      margin-right: 10px;
    }
    .video__data-sub {
      display: flex;
      flex-direction: column;
      a {
        color: inherit;
        font-size: 24px;
        margin-bottom: 5px;
      }
      .video__createdAt {
        font-size: 12px;
      }
    }
  }
}
