extends ../base

block content
    form(method="POST")
        label(for="title") 제목  
            input(name="title", placeholder="Video Title", value=video.title, required)
        label(for="hashtags") 해시태그 
            input(name="hashtags", placeholder="Hashtags, separated by comma.", required, type="text", value=video.hashtags.join())
        label(for="description") 설명     
            input(name="description", placeholder="Description", required, type="text", minlength="20", value=video.description )
        input(value="Save", type="submit")