extends ../base
include ../mixins/video

block content 
    form(method="GET").search__form
        input(placeholder="검색", type="text", name="keyword")
        button 
            i.fas.fa-search

    div.video-grid
        each video in videos 
            +video(video)
        else
            span.empty__message 검색어를 입력해주세요 🙂